.about-page {
    h4 {
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .section-title {
      text-align: center;
      margin-bottom: 45px;
    }

    .about-us {
        p {
            color: $font-normal;
            line-height: 26px;
        }
    }

    .about-quality {

        p {
            color: $font-normal;
            line-height: 22px;
        }

        ul {
            list-style: none;
            margin-left: 2rem;
            li {
                font-size: 16px;
                color: $font-normal;
                margin-bottom: 20px;
                span {
                    color: $primary;
                }
            }
        }
    } 
}

@media (max-width: 740px) {
    .about-quality {
        margin-top: 2rem;
    }
}