body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input,
select,
textarea,
button {
    &:focus {
        outline: none;
    }
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
}