form.custom-form {
    label {
        display: block;
        margin-bottom: 19px;
        color: $white;
        line-height: 1.111em;
        font-weight: 700;
        span {
            float: right;
            a{
                font-weight: 300;
            }
        }
    }

    input {
        width: 100%;
        height: 65px;
        padding-right: 21px;
        padding-left: 21px;
        border-style: solid;
        border-width: 1px;
        border-color: #767887;
        border-radius: 12px;
        background-color: #39394b;
        color: $white;
        font-size: 18px;
        transition: border-color 350ms ease, color 350ms ease;
        -webkit-transition: border-color 350ms ease, color 350ms ease;
        -moz-transition: border-color 350ms ease, color 350ms ease;
        -ms-transition: border-color 350ms ease, color 350ms ease;
        -o-transition: border-color 350ms ease, color 350ms ease;
    
        &:focus {
            border-color: #eff0f6;
            color: #fff;
            box-shadow: none;
            background-color: #39394b;
        }
    }
    input::-webkit-input-placeholder {
        font-weight: 600;
    }
    input::-moz-placeholder {
        font-weight: 600;
    }
    input:-ms-input-placeholder {
        font-weight: 600;
    }
    input::-ms-input-placeholder {
        font-weight: 600;
    }
    input::placeholder {
        font-weight: 600;
    }
    // input:focus {
    //     background: #3d3d3d;
    //     color: #a6a6a6;
    //     font-weight: 600;
    // }
}

.sign-card {
    padding: 30px 24px;
    border-radius: 10px;
    p {
        font-size: 18px;
    }
    a {
        font-weight: bold;
        text-decoration: underline;
    }
}

@media screen and (max-width: 992px) {
    .sign-card {
        padding: 30px 24px;
    }
}