@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-poppins font-normal;
  }

  ::-moz-selection {
    /* Code for Firefox */
    @apply text-white bg-primary-100;
  }

  ::selection {
    @apply text-white bg-primary-100;
  }
}
.hero-img {
  @apply bg-bg-dark;
  background-image: url("/hero-header.png");
}

.info-side-inner {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.info-side-inner::after {
  position: absolute;
  right: -20px;
  top: -30px;
  height: 100%;
  width: 80%;
  content: "";
  z-index: -1;
  @apply bg-bg-faint rounded-lg;
}

.info-side-inner img {
  box-shadow: 0 36px 78px 0 rgba(1, 1, 17, 0.29);
  @apply rounded-lg;
}
@media (max-width: 740px) {
  .info-side-inner::after {
    display: none;
  }
}
